

#matrix1
{   margin-left: auto;
    margin-right: auto;
	width: 400px;
	height: 400px;
	border-top: 1px solid rgb(5, 249, 103);
	border-left: 1px solid rgb(5, 249, 103);	
}

#matrix1 .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid rgb(5, 249, 103);
	border-right: 1px solid rgb(5, 249, 103);
	background-image: url('image.jpg');	
}

#matrix1 .on
{
	background-color: red;
}

#matrix2
{
	float: left;
	margin-left: 10px;
	width: 200px;
	height: 200px;
	border-top: 1px solid red;
	border-left: 1px solid red;	
}

#matrix2 .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid red;
	border-right: 1px solid red;	
}

#matrix2 .on
{
	background-color: #999;
}

